<div id="calendar">
    <div class="text" id="ttagendar">Agendar visita</div>

    <div class="text" id="ttdatos">Ingresá los datos del cliente</div>
    <div>
        <input type="text" class="text" placeholder="Número/Nombre de cliente" id="inputclient">
    </div>
    <div>
        <input type="text" class="text" placeholder="Dirección" id="inputdir">
    </div>
    <div>
        <input type="text" class="text" placeholder="Localidad" id="inputloc">
    </div>
    <div class="text" id="visit">Tipo de visita</div>
    <div class="text" id="option1">
        Relevamiento
    </div>
    <div class="text" id="option2">
        Instalación
    </div>
    <div class="text" id="option3">
        Mantenimiento
    </div>
    <div class="text" id="horario">Horario</div>
    <div class="text" id="hora1">
        09:00
    </div>
    <div class="text" id="hora2">
        13:00
    </div>
    <div class="text" id="hora3">
        15:00
    </div>
    <div class="text" id="hora4">
        17:00
    </div>
    <div class="text" id="hora5">
        17:30
    </div>
    <div class="text" id="techop">Seleccionar técnico</div>    
    <div class="text" id="tech1">
        Emanuel J...
    </div>
    <div class="text" id="tech2">
        Rodrigo El...
    </div>
    <div class="text" id="tech3">
        Fernando Vil...
    </div>
    <div id="btnagendar">
        AGENDAR VISITA
    </div>




</div>
