<app-dashboardadmin></app-dashboardadmin>

<div *ngIf="!isSuccess">
    <h2>Editar usuario</h2>
    <p>Los datos ingresados son:</p>
    <ul>
        <li><strong>Rol del usuario:</strong> {{ userRole }}</li>
        <li><strong>Nombre:</strong> {{ userName }}</li>
        <li><strong>Correo electrónico:</strong> {{ userEmail }}</li>
        <li><strong>Teléfono:</strong> {{ userPhone }}</li>
    </ul>
    <div class="button-container">
        <button class="submit-button" (click)="confirmarEdicion()">Editar usuario</button>
    </div>
</div>

<div *ngIf="isSuccess">
    <h2>Editar usuario</h2>
    <p>{{ userName }} fue editado exitosamente.</p>
    <p>Se envió un correo informativo al mail ingresado: <strong>{{ userEmail }}</strong></p>
    <div class="button-container">
        <button class="submit-button" (click)="regresar()">Confirmar</button>
    </div>
</div>