.clientes-container {
    width: calc(902 * (100vw / 1440)) ;
    height: calc(900 * (100vh / 1024)) ;
    background-color: #fff;
    box-shadow: 0 4px 6px #0000001a;
    font-family: 'Poppins', sans-serif;
    left: calc(406 * (100vw / 1440)) ;
    border-radius: calc(28 * (100vw / 1440)) ;
    top: calc(25 * (100vh / 1024));
    position: absolute;
    overflow: hidden;
    padding-bottom: calc(200 * (100vh / 768)) ;

}
h2 {
    font-size:calc(24 * (100vw / 1440)) ;
    position: relative;
    top: calc(20 * (100vh / 1024));
    left:calc(20 * (100vw / 1440)) ;
    font-weight: bold;
    color: #00254B;
    margin-bottom: 20px;
}
.input-container {
    position: relative; 
    left:calc(45 * (100vw / 1440)) ;
    flex-grow: 1;
    width: calc(643 * (100vw / 1440));
    height: calc(48 * (100vh / 1024));
}
.search-bar{
    top:calc(82 * (100vh / 1024));
}
.barra-busqueda{
    display: flex;
    position: relative;
    align-items: center;
    flex-grow: 1;
    left: calc(26 * (100vw / 1440)); 
    width: calc(801 * (100vw / 1440));
    height: calc(73 * (100vh / 1024));
    top: calc(52 * (100vh / 1024));
}
.barra {
    width: calc(620 * (100vw / 1440)) ;
    height: calc(49 * (100vh / 1024)) ;
    border: solid 1px #00254B;
    border-radius: 28px 0px 0px 28px;
    position: relative;
    font-size: calc(16 * (100vw / 1440)) ;
    box-sizing: border-box; 
}

.icono {
    display: flex;
    flex-direction: row;
    align-items: center;
    position: absolute;
    width: calc(50 * (100vw / 1440)); 
    height: calc(50 * (100vh / 1024));
    pointer-events: none;
    z-index: 100;
}
.new-button{
    width:calc(140 * (100vw / 1440));
    height: calc(50 * (100vh / 1024));
    font-size: calc(16 * (100vw / 1440));
    background-color: #003366;
    color: #fff;
    border: none;
    border-radius: 0px 28px 28px 0px;
    cursor: pointer;
}

.table-container {
    width:calc(780 * (100vw / 1440));
    height: calc(680 * (100vh / 1024));
    top: calc(100 * (100vh / 1024));
    left:calc(60 * (100vw / 1440));
    overflow-x: auto; 
    overflow-y: auto; 
    position: relative;
}

.clientes-table {
    width: 100%;
    border-collapse: collapse;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    table-layout: fixed;
}

.clientes-table th, .clientes-table td {
    border: 1px solid #ccc;
    height: calc(40 * (100vh / 1024));
    text-align: left;
    padding: 10px;
    word-wrap: break-word;
}

.clientes-table th {
    background-color: #003366;
    color: white;
    font-size: calc(16 * (100vw / 1440));
    font-weight: 600;
    position: sticky; 
    top: 0; 
    z-index: 2;
}
.clientes-table td {
    font-size: calc(14 * (100vw / 1440));
    overflow: hidden; 
    text-overflow: ellipsis;
    white-space: nowrap;
}


/* Responsividad específica para 1368x768 */
@media screen and (max-width: 1368px) {
    .clientes-container {
        width: calc(850 * (100vw / 1368));
        height: calc(680 * (100vh / 768));
        padding: calc(15 * (100vh / 768));
    }

    h2 {
        font-size: calc(22 * (100vw / 1368));
        margin-bottom: calc(15 * (100vh / 768));
    }

    .search-bar {
        margin-bottom: calc(5 * (100vh / 768));
    }

    .table-container {
        max-width: calc(720 * (100vw / 1368));
        height: calc(450 * (100vh / 768));
    }
    .clientes-table th {
        background-color: #003366;
        color: white;
        font-weight: 600;
        position: sticky; 
        top: 0; 
        z-index: 2; 
        padding: calc(8 * (100vh / 768));
        font-size: calc(14 * (100vw / 1368));
    }

    .clientes-table td {
        padding: calc(8 * (100vh / 768));
        font-size: calc(12 * (100vw / 1368));
        overflow: hidden; 
        text-overflow: ellipsis;
        white-space: nowrap;
    }
}


/*styles para Modal crear clientes*/

.modalclient {
    position: fixed; 
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh; 
    display: flex; 
    justify-content: center;
    align-items: center; 
    background: rgba(0, 0, 0, 0.5); 
    z-index: 9999; 
}

.modal-content {
    display: flex; 
    justify-content: center;
    align-items: center; 
    flex-direction: column;
    border: 0;
    background: #fff;
    width:calc(550 * (100vw / 1440));
    height: calc(570 * (100vh / 1024));
    font-family: 'Poppins', sans-serif;
    animation: fadeIn 0.3s ease-in-out; 
}

.modal-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #00254b;
    width: calc(549 * (100vw / 1440));
    height: calc(70 * (100vh / 1024));
    
}

.modal-header h2 {
    font-size: calc(16 * (100vw / 1440));
    color: #fff;
}

.close-button {
    background: none;
    border: none;
    font-size: calc(20 * (100vw / 1440));
    cursor: pointer;
    color: #fff;
}



input[type="text"],
input[type="email"],
input[type="tel"] {
    width: calc(510 * (100vw / 1440));
    padding: calc(10 * (100vw / 1440));
    height: calc(60 * (100vh / 1024));
    border: 1px solid #00254B;
    outline: none;
    font-size: calc(14 * (100vw / 1440));
    margin-bottom: calc(10 * (100vh / 1024));
    font-family: 'Poppins', sans-serif;
}
.button-container {
    display: flex;
    justify-content: center; 
    margin-bottom: calc(10 * (100vh / 1024));
}

button.submit-button {
        width: calc(148 * (100vw / 1440));
        padding: 10px;
        border: none;
        border-radius: 20px;
        background: #00254b;
        color: white;
        font-size: calc(15 * (100vw / 1440));
        font-weight: 600;
        cursor: pointer;
        text-transform: uppercase;
}

button.submit-button:hover {
        background: #003580;
}

  /* Animación de aparición */
@keyframes fadeIn {
    from {
    opacity: 0;
    transform: scale(0.95);
    }
    to {
    opacity: 1;
    transform: scale(1);
    }
}


/*boton editar registros*/

.btn-edit {
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
    margin-left: calc(10 * (100vw / 1440));
    margin-right: calc(60 * (100vw / 1440));
}

.btn-edit svg {
    width: calc(20 * (100vw / 1440));
    height:calc(20 * (100vw / 1024));
    stroke: #00254B;
    transition: stroke 0.3s ease;
}

.btn-edit:hover svg {
    stroke: #0056b3; 
    fill: #cce7ff; 
}

/* boton eliminar registro*/

.btn-eliminar {
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
}

.btn-eliminar svg {
    width: calc(20 * (100vw / 1440));
    height:calc(20 * (100vw / 1024));
    stroke: #00254B;
    transition: stroke 0.3s ease;
}

.btn-eliminar:hover svg {
    stroke: #0056b3; 
    fill: #cce7ff; 
}

.modal-body{
    width:calc(550 * (100vw / 1440));
    height: calc(570 * (100vh / 1024));
}
.prueba{
    display: flex;
    width: 100%;
    background-color: #0056b3;
    flex-direction: column;
    height: calc(200 * (100vw / 1024));;
    justify-content: flex-start;
    align-items: flex-start;
    font-family: 'Poppins', sans-serif;
    color: #00254B;
}

.info{
    background-color: #5aa800;

}

.crear-clientes{
    font-size: calc(24 * (100vw / 1440));
    font-weight: 700;
}
.parrafosconfig{
    font-size:  calc(16 * (100vw / 1440));
    font-weight: 400;
    margin-bottom: 16px; /* Reduce el espacio entre párrafos */
    line-height: 1.2; 
    
}
.zoom{
    font-size:  calc(24 * (100vw / 1440));
    font-weight: 700;
}
.confir{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin-left: calc(100 * (100vw / 1440));
    font-family: 'Poppins', sans-serif;
    color: #00254B;
}
.parrafosconfirmacion{
    font-size:  calc(16 * (100vw / 1440));
    font-weight: 700;
    margin-bottom: 14px; /* Reduce el espacio entre párrafos */
    line-height: 1.2; 
}


/* Media query para resolución 1368px */
@media screen and (max-width: 1368px) and (max-height: 768px) {

.modal-body{
        height: calc(570 * (100vh / 768));
}
.crear-clientes {
        font-size: calc(20 * (100vw / 1368));  /* Reduce el tamaño del título */
}
.prueba{
    display: flex;
    background-color: #0056b3;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    font-family: 'Poppins', sans-serif;
    color: #00254B;
}

.parrafosconfig {
    font-size:  calc(14 * (100vw / 1368)); /* Reduce el tamaño del texto */
    font-weight: 400; /* Peso de texto */
    margin-bottom: 10px; /* Reduce el espacio entre párrafos */
    line-height: 1.2; /* Reduce la altura de línea */
}
.parrafosconfirmacion{
    font-size:  calc(14 * (100vw / 1440));
    font-weight: 700;
    margin-bottom: calc(10 * (100vh / 768)); /* Reduce el espacio entre párrafos */
    line-height: 1.2; 
}
.zoom{
        font-size:  calc(20 * (100vw / 1440));
}

.button-container {
        display: flex;
        justify-content: center; /* Centra el botón */
        margin-top: 0;
        margin-bottom: calc(10 * (100vh / 768));
}

.submit-button {
        width: calc(150 * (100vw / 1368)); /* Ajusta el tamaño del botón */
        font-size:  calc(14 * (100vw / 1368));
        padding: 8px;
}
}