<div class="modaldimension">
    <div class="ttmodal text">
      <div id="line1">Estás a punto de agendar una visita.</div>
      <div id="line2">Revisá que la información sea correcta.</div>
      <div id="line3">Los datos ingresados son los siguientes:</div>
    </div>
  
    <div class="text" id="info">
      <!-- Mostramos los datos del cliente y la visita usando data desde el componente ModalVisitComponent -->
      <div class="text" id="client">Cliente: {{ data.clientData?.name }}</div>
      <div class="text" id="ubication">Dirección: {{ data.clientData?.address }}</div>
      <div class="text" id="visitopt">Tipo de instalación: {{ data.visitDetails?.visitType }}</div>
      <div class="text" id="hour">Horario: {{ data.selectedTime }}</div>
      <div class="text" id="tech">Técnico asignado: {{ data.visitDetails?.technician }}</div>
    </div>
  
    <!-- Botones para editar o agendar -->
    <div id="btnedit" (click)="onEdit()">EDITAR TEXTO</div>
    <div id="btnagend"  (click)="createWorkOrder()">AGENDAR VISITA</div>
  
    <!-- Icono para cerrar el modal -->
    <div (click)="onCloseReset()">
      <svg width="44" height="44" viewBox="0 0 44 44" fill="none" xmlns="http://www.w3.org/2000/svg" id="closemodal" >
        <path d="M17.825 23L23.425 28.6L22 30L14 22L22 14L23.425 15.4L17.825 21H30V23H17.825Z" fill="#00254B"/>
      </svg>
    </div>
  </div>