/*seccion Derecha*/
.seccion-derecha {
    background-color: white;
    width: calc(720 * (100vw / 1440));
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: calc(10 * (100vw / 1440));
    position: relative;
}

.form-container {
    width: 100%;
    margin-top: calc(50 * (100vw / 1440));;
    width:calc(500 * (100vw / 1440));
    padding: calc(5 * (100vw / 1440));
}

.form-group label {
    display: block;
    font-size: calc(16 * (100vw / 1440));
    font-weight: 500;
    margin-bottom: calc(5 * (100vh / 1024));
    color: #003366;
    font-family: 'Poppins', sans-serif;
}
.textlb{
    font-size: calc(14 * (100vw / 1440));
    width:calc(490 * (100vw / 1440));
    font-weight: 400;
    color: #AAA !important;
    margin-bottom: 15px !important;
}
#textini{
    margin-bottom: 70px !important;
}


.form-group input {
    width:calc(490 * (100vw / 1440));
    padding: calc(10 * (100vw / 1440));
    font-size: calc(14 * (100vw / 1440));
    border: 1px solid #ccc;
    border-radius: 4px;
}

.form-group a {
    font-size:  calc(14 * (100vw / 1440));
    color: #00254B;
    text-decoration: none;
    text-decoration: underline;
    display: block;
    font-weight: 400;
    margin-top: calc(5 * (100vh / 1024));
    cursor: pointer;
}

.form-group input:focus {
    outline: none;
    border-color: #007bff;
    box-shadow: 0 0 4px rgba(0, 123, 255, 0.5);
}

.form-checkbox {
    display: flex;
    align-items: center;
    margin-bottom: calc(15 * (100vh / 1024));
}

.form-checkbox input {
    appearance: none;
    -webkit-appearance: none;
    width:calc(18 * (100vw / 1440));
    height: calc(25 * (100vh / 1024));
    border-radius: 2px;
    border: 2px solid #0a0a0a;
    cursor: pointer;
    display: inline-block;
    position: relative;
    margin-top: calc(-50 * (100vh / 1024));
    margin-right: calc(5 * (100vw / 1440));
}


.boton-inicio {
    width:calc(490 * (100vw / 1440));
    padding: calc(10 * (100vw / 1440));
    background-color: #003366;
    border: none;
    color: #fff;
    font-size: calc(18 * (100vw / 1440));;
    border-radius: 18px;
}
.boton-inicio:hover{
    background-color: #999;
}


.password-container {
    position: relative;
    margin-bottom: calc(15 * (100vh / 1024));
}



/* Wrapper del input y el ícono */
.password-wrapper {
    display: flex;
    align-items: center;
    position: relative;
    width: calc(490 * (100vw / 1440));
}

.password-wrapper input {
    width: calc(490 * (100vw / 1440));
    font-size: calc(14 * (100vw / 1440));
    border: 1px solid #ccc;
    border-radius: 4px;
}


.password-wrapper .toggle-password {
    position: absolute;
    right: 10px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.password-wrapper .toggle-password img {
    width: calc(20 * (100vw / 1440));
    height: calc(20 * (100vh / 1024));
}

/* Estilo del enlace "Olvidé mi contraseña" */
.password-container a {
    font-size: calc(14 * (100vw / 1440));
    color:  #00254B;
    text-decoration: none;
    margin-top: calc(5 * (100vh / 1024));
    display: inline-block;
}

.password-container a:hover {
    text-decoration: underline;
}



/*estilos del modal de cofirmacion*/

.modaluser {
    position: fixed; 
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh; 
    display: flex; 
    justify-content: center;
    align-items: center; 
    background: rgba(0, 0, 0, 0.5); 
    z-index: 9999; 
}

.modal-content {
    background: #fff;
    width:calc(550 * (100vw / 1440));
    height: calc(550 * (100vh / 1024));
    font-family: 'Poppins', sans-serif;
    animation: fadeIn 0.3s ease-in-out; 
}

.modal-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #00254b;
    width: calc(549 * (100vw / 1440));
    height: calc(70 * (100vh / 1024));
    
}

.modal-header h2 {
    font-size: calc(16 * (100vw / 1440));
    font-weight: 700;
    color: #fff;
}
.modal-body{
    display: flex;
    flex-direction: column;
    padding: 15px;
    text-align: center;
    margin-top: calc(120 * (100vh / 1024));
    width:calc(550 * (100vw / 1440));
    height: calc(550 * (100vh / 1024));
}
.modal-body h2{
    font-size: calc(24 * (100vw / 1440));
    font-weight: 700;
    font-family: 'Poppins', sans-serif;
}
.modal-body p{
    font-size: calc(16 * (100vw / 1440));
    font-weight: 700;
    font-family: 'Poppins', sans-serif;
}

.button-container {
    display: flex;
    justify-content: center; 
    margin-bottom: calc(10 * (100vh / 1024));
    margin-top: calc(120 * (100vh / 1024));
}

button.submit-button {
        width: calc(261 * (100vw / 1440));
        padding: 10px;
        border: none;
        border-radius: 30px;
        background: #00254b;
        color: white;
        font-size: calc(18 * (100vw / 1440));
        font-weight: 700;
        cursor: pointer;
        text-transform: uppercase;
}

button.submit-button:hover {
        background: #003580;
}





