
/*seccion Derecha*/
.seccion-derecha {
    background-color: white;
    width: calc(720 * (100vw / 1440));
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: calc(40 * (100vw / 1440));
    position: relative;
}

.form-container {
    width: 100%;
    width:calc(500 * (100vw / 1440));
    padding: calc(5 * (100vw / 1440));
}

.form-group label {
    display: block;
    font-size: calc(16 * (100vw / 1440));
    font-weight: 500;
    margin-bottom: calc(5 * (100vh / 1024));
    color: #003366;
    font-family: 'Poppins', sans-serif;
}
.textlb{
    font-size: calc(14 * (100vw / 1440));
    width:calc(490 * (100vw / 1440));
    font-weight: 400;
    color: #AAA ;
    margin-bottom: 40px ;
}

.form-group input {
    width:calc(490 * (100vw / 1440));
    padding: calc(10 * (100vw / 1440));
    font-size: calc(14 * (100vw / 1440));
    border: 1px solid #ccc;
    border-radius: 4px;
}

.form-group a {
    font-size:  calc(14 * (100vw / 1440));
    color: #00254B;
    text-decoration: none;
    text-decoration: underline;
    display: block;
    font-weight: 400;
    margin-top: calc(5 * (100vh / 1024));
    cursor: pointer;
}

.form-group input:focus {
    outline: none;
    border-color: #007bff;
    box-shadow: 0 0 4px rgba(0, 123, 255, 0.5);
}

.form-checkbox {
    display: flex;
    align-items: center;
    margin-bottom: calc(15 * (100vh / 1024));
}

.form-checkbox input {
    appearance: none;
    -webkit-appearance: none;
    width:calc(18 * (100vw / 1440));
    height: calc(25 * (100vh / 1024));
    border-radius: 2px;
    border: 2px solid #0a0a0a;
    cursor: pointer;
    display: inline-block;
    position: relative;
    margin-top: calc(-50 * (100vh / 1024));
    margin-right: calc(5 * (100vw / 1440));
}
.form-checkbox input[type="checkbox"]:checked::before {
    content: "✔";
    color: white;
    display: block;
    text-align: center;
    line-height: calc(18 * (100vh / 1024));
}
.form-checkbox input[type="checkbox"]:checked {
    background-color: #00254B;
    border-color: #00254B;
}
.form-checkbox label {
    font-size:  calc(16 * (100vw / 1440));
    font-weight: 300;
    color: #00254B;
    margin-bottom: calc(50 * (100vh / 1024));
    font-family: 'Poppins', sans-serif;
}

.boton-inicio {
    width:calc(490 * (100vw / 1440));
    padding: calc(10 * (100vw / 1440));
    background-color: #003366;
    border: none;
    color: #fff;
    font-size: calc(18 * (100vw / 1440));;
    border-radius: 18px;
}
.boton-inicio:hover{
    background-color: #999;
}

.parrafo-ayuda {
    margin-top: calc(68 * (100vh / 1024));
    width:calc(490 * (100vw / 1440));
    text-align: justify;
    margin-bottom: 0px;
    font-weight: 300;
    font-family: 'Poppins', sans-serif;
    font-size: calc(14 * (100vw / 1440));
    color: #00254B;
}

.parrafo-ayuda a {
    color: #00254B;
    font-weight: 600;
    text-decoration: none;
}

.parrafo-ayuda a:hover {
    text-decoration: underline;
} 

/*css para ocultar contraseña y mostrar */

.password-container {
    position: relative;
    margin-bottom: calc(15 * (100vh / 1024));
}

/* Wrapper del input y el ícono */
.password-wrapper {
    display: flex;
    align-items: center;
    position: relative;
    width: calc(490 * (100vw / 1440));
}

.password-wrapper input {
    width: calc(490 * (100vw / 1440));
    font-size: calc(14 * (100vw / 1440));
    border: 1px solid #ccc;
    border-radius: 4px;
}


.password-wrapper .toggle-password {
    position: absolute;
    right: 10px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.password-wrapper .toggle-password img {
    width: calc(20 * (100vw / 1440));
    height: calc(20 * (100vh / 1024));
}

/* Estilo del enlace "Olvidé mi contraseña" */
.password-container a {
    font-size: calc(14 * (100vw / 1440));
    color:  #00254B;
    text-decoration: none;
    margin-top: calc(5 * (100vh / 1024));
    display: inline-block;
}

.password-container a:hover {
    text-decoration: underline;
}