.spinner-container {
    width: calc(500 * (100vw / 1440));
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(500 * (100vh / 1024));
    position: relative;
  }
  
  .spinner {
    width: calc(120 * (100vw / 1440));
    height:  calc(120 * (100vw / 1440));
    border: calc(5 * (100vw / 1440))  solid #00254B;
    border-top: calc(5 * (100vw / 1440))  solid #008080;
    border-radius: 50%;
    animation: spin 2s linear infinite;
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
  
  