<div id="installation">
    <div id="ttmain">Instalaciones y Reportes</div>

    <div id="search">
        <svg width="44" height="44" viewBox="0 0 44 44" fill="none" xmlns="http://www.w3.org/2000/svg" id="iconsearch">
            <path d="M26.927 27.0396L30.4001 30.3996M29.2801 21.4396C29.2801 25.7695 25.77 29.2796 21.4401 29.2796C17.1102 29.2796 13.6001 25.7695 13.6001 21.4396C13.6001 17.1097 17.1102 13.5996 21.4401 13.5996C25.77 13.5996 29.2801 17.1097 29.2801 21.4396Z" stroke="#00254B" stroke-width="2" stroke-linecap="round"/>
            </svg>
            <div id="filter">Filtrar por</div>
            <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" id="iconfilter">
                <path d="M6.46154 12H17.5385M4 7H20M10.1538 17H13.8462" stroke="#00254B" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                </svg>      
                       
    </div>
    <div id="subtitleins">
        <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" id="iconsubtt">
            <path d="M12 12V7.5M12 15.3354V15.375M21 12C21 16.9706 16.9706 21 12 21C7.02944 21 3 16.9706 3 12C3 7.02944 7.02944 3 12 3C16.9706 3 21 7.02944 21 12Z" stroke="#00254B" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
            </svg>
            Tienes solicitudes pendientes de aprobación   
    </div>
    <div id="table">
        <div id="tabtitle">
            <div class="text" id="client">CLIENTE</div>
            <div class="text" id="ot">OT</div>
            <div class="text" id="date">FECHA</div>
            <div class="text" id="hour">HORA</div>
            <div class="text" id="state">ESTADO</div>
            <div class="text" id="action">ACCIÓN</div>
        </div>
        <div id="grid">
            <div class="griditem"></div>
            <div class="griditem"></div>
            <div class="griditem"></div>
            <div class="griditem"></div>
            <div class="griditem"></div>
            <div class="griditem"></div>
            <div class="griditem"></div>
            <div class="griditem"></div>
            <div class="griditem"></div>
            <div class="griditem"></div>
            <div class="griditem"></div>
            <div class="griditem"></div>
            <div class="griditem"></div>
            <div class="griditem"></div>
            <div class="griditem"></div>
            <div class="griditem"></div>
            <div class="griditem"></div>
            <div class="griditem"></div>
            <div class="griditem"></div>
            <div class="griditem"></div>
            <div class="griditem"></div>
            <div class="griditem"></div>
            <div class="griditem"></div>
            <div class="griditem"></div>
            <div class="griditem"></div>
            <div class="griditem"></div>
            <div class="griditem"></div>
            <div class="griditem"></div>
            <div class="griditem"></div>
            <div class="griditem"></div>
            <div class="griditem"></div>
            <div class="griditem"></div>
            <div class="griditem"></div>
            <div class="griditem"></div>
            <div class="griditem"></div>
            <div class="griditem"></div>
            <div class="griditem"></div>
            <div class="griditem"></div>
            <div class="griditem"></div>
            <div class="griditem"></div>
            <div class="griditem"></div>
            <div class="griditem"></div>
            <div class="griditem"></div>
            <div class="griditem"></div>
            <div class="griditem"></div>
            <div class="griditem"></div>
            <div class="griditem"></div>
            <div class="griditem"></div>
            <div class="griditem"></div>
            <div class="griditem"></div>
            <div class="griditem"></div>
            <div class="griditem"></div>
            <div class="griditem"></div>
            <div class="griditem"></div>
            <div class="griditem"></div>
            <div class="griditem"></div>
            <div class="griditem"></div>
            <div class="griditem"></div>
            <div class="griditem"></div>
            <div class="griditem"></div>
            <div class="griditem"></div>
            <div class="griditem"></div>
            <div class="griditem"></div>
            <div class="griditem"></div>
            <div class="griditem"></div>
            <div class="griditem"></div>
            <div class="griditem"></div>
            <div class="griditem"></div>
            <div class="griditem"></div>
            <div class="griditem"></div>
            <div class="griditem"></div>
            <div class="griditem"></div>
            <div class="griditem"></div>
            <div class="griditem"></div>
            <div class="griditem"></div>
            <div class="griditem"></div>
            <div class="griditem"></div>
            <div class="griditem"></div>
            <div class="griditem"></div>
            <div class="griditem"></div>
            <div class="griditem"></div>
            <div class="griditem"></div>
            <div class="griditem"></div>
            <div class="griditem"></div>
            <div class="griditem"></div>
            <div class="griditem"></div>
            <div class="griditem"></div>
            <div class="griditem"></div>
            <div class="griditem"></div>
            <div class="griditem"></div>
        </div>
    </div>
</div>